{% extends 'base.html' %}

{% block title %}详情-{% endblock %}

{% block head %}
    <style type="text/css">
        .question-info{
            text-align: center;
            margin-top: 20px;

        }
        .answer-list{
            padding-left: 0;
        }
        .answer-list li{
            list-style: none;
            border-bottom: 1px solid #eee;
            padding-top: 10px;
        }
        .avatar{
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }
        .user-info{
            font-size: 16px;
            color: #7ec8f5;
            line-height: 40px;
        }
        .user-info .username{
            margin-left: 20px;
        }
        .user-info .create-time{
            float: right
        }
        .answer-content{
            margin-left: 65px;
        }
    </style>
{% endblock %}

{% block main %}
    <h3 class="page-title">{{ question.title }}</h3>
    <p class="question-info">
        <span>作者：{{ question.author.username }}</span>
        <span>发布时间：{{ question.create_time }}</span>
    </p>
    <hr>
    <p class="question-content">{{ question.content }}</p>
    <hr>
    <h4>评论：（0）</h4>
    <form action="{{ url_for('add_answer') }}" method="post">
        <div class="form-group">
            <input name="answer-content" type="text" class="form-control" placeholder="请填写评论">
            <input type="hidden" name="question-id" value="{{ question.id }}">
        </div>
    <div class="form-group" style="text-align: right;">
        <button class="btn btn-primary">立即评论</button>
    </div>
    </form>
    <ul class="answer-list">
        {% for answer in question.answers %}
            <div class="user-info">
                <img src="{{ url_for('static', filename='images/flask.jpg') }}" alt="头像图片" class="avatar">
                <span class="username">{{ answer.author.username }}</span>
                <span class="create-time">{{ answer.create_time }}</span>
            </div>
            <p class="answer-content">{{ answer.content }}</p>
            <hr>
        {% endfor %}
    </ul>
{% endblock %}